@model  Tuple<List<CUSTOMER>, List<TUBE>>

@{
    ViewBag.Title = "ChasingTable";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
}

<div class="page-content" style="min-height:1112px">
    <div class="portlet-body form">
        <form class="form-horizontal" action="~/Definition/SaveUser" method="post">
            <p></p>
            <div class="col-md-pull-12">
                <p></p>
                <div class="portlet box green">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-comments"></i>Tüp Dolumu Takip Listesi
                        </div>
                        <div class="tools">
                            <a href="javascript:;" class="collapse"> </a>
                            <a href="#portlet-config" data-toggle="modal" class="config"> </a>
                            <a href="javascript:;" class="reload"> </a>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="table-scrollable">
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th> Firma / Adı Soyadı </th>
                                        <th> İlçe </th>
                                        <th> Durum </th>
                                        <th> Yetkili </th>
                                        <th> # A </th>
                                        <th> Dolum Tarihi </th>
                                        <th> # B </th>
                                        <th> Dolum Tarihi </th>
                                        <th> # C </th>
                                        <th> Dolum Tarihi </th>
                                        <th> # D </th>
                                        <th> Dolum Tarihi </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Item1)
                                    {

                                        <tr>
                                            <td> @Html.DisplayFor(model => item.APPELLATION) </td>
                                            <td> @Html.DisplayFor(model => item.CDISTRICT) </td>
                                            <td>
                                                <span class="label label-sm label-info"> Pending </span>
                                            </td>
                                            <td> @Html.DisplayFor(model => item.CNAME) </td>

                                            @foreach (var item1 in Model.Item2)
                                            {
                                                <td> @Html.DisplayFor(model => item1.FIRSTFILLING) </td>
                                                <td> @Html.DisplayFor(model => item1.FIRSTFILLING) </td>
                                                <td> @Html.DisplayFor(model => item1.FIRSTFILLING) </td>
                                                <td> @Html.DisplayFor(model => item1.FIRSTFILLING) </td>

                                            }
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
               </div>
            </div>
            <div class="col-md-12">
                <div class="portlet box blue">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-comments"></i>Periyodik Bakım Takip Listesi
                        </div>
                        <div class="tools">
                            <a href="javascript:;" class="collapse"> </a>
                            <a href="#portlet-config" data-toggle="modal" class="config"> </a>
                            <a href="javascript:;" class="reload"> </a>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="table-scrollable">
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th> Firma / Adı Soyadı</th>
                                        <th> Konum</th>
                                        <th> Durum</th>
                                        <th> Yetkili</th>
                                        <th> Periyodik Bakım </th>
                                        <th> İlk Bakım </th>
                                        <th> Sıradaki Bakım </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td> 1 </td>
                                        <td> Mark</td>
                                        <td>
                                            <span class="label label-sm label-success"> Approved</span>
                                        </td>
                                        <td> Otto</td>
                                        <td> makr124</td>
                                        <td> makr124</td>
                                        <td> makr124</td>
                                    </tr>
                                    <tr>
                                        <td> 2 </td>
                                        <td> Jacob</td>
                                        <td> Nilson</td>
                                        <td> jac123</td>
                                        <td>
                                            <span class="label label-sm label-info"> Pending</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td> 3 </td>
                                        <td> Larry</td>
                                        <td> Cooper</td>
                                        <td> lar</td>
                                        <td>
                                            <span class="label label-sm label-warning"> Suspended</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td> 4 </td>
                                        <td> Sandy</td>
                                        <td> Lim</td>
                                        <td> sanlim</td>
                                        <td>
                                            <span class="label label-sm label-danger"> Blocked</span>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>




@*<td>
        <a href="javascript:;" class="btn btn-outline btn-circle btn-sm purple">
            <i class="fa fa-edit"></i> Düzenle
        </a>
    </td>*@









@*<div class="portlet-body">
    <div class="table-scrollable">
        <table class="table table-striped table-bordered table-advance table-hover">
            <thead>
                <tr>


                </tr>
            </thead>
            <tbody>
                <tr>
                    <td> Barbaros A.Ş </td>
                    <td> DOSAB </td>
                    <td> # 6 </td>
                    <td> Kasım.2019 </td>
                    <td> # 0 </td>
                    <td> Mayıs.2019 </td>
                    <td> # 7 </td>
                    <td> Kasım.2020 </td>
                    <td> # 7 </td>
                    <td> Kasım.2020 </td>
                    <td align="center"> 6 Ay </td>
                    <td> Nisan.2019 </td>
                    <td> Nisan.2020 </td>
                </tr>
                <tr>
                    <td> Barbaros LTD.ŞTİ. </td>
                    <td> DOSAB </td>
                    <td> # 6 </td>
                    <td> Kasım.2019 </td>
                    <td> # 0 </td>
                    <td> Mayıs.2019 </td>
                    <td> # 7 </td>
                    <td> Kasım.2020 </td>
                    <td> # 7 </td>
                    <td> Kasım.2020 </td>
                    <td align="center"> 6 Ay </td>
                    <td> Nisan.2019 </td>
                    <td> Nisan.2020 </td>
                </tr>
                <tr>
                    <td> Barbaros LTD. </td>
                    <td> DOSAB </td>
                    <td> # 6 </td>
                    <td> Kasım.2019 </td>
                    <td> # 0 </td>
                    <td> Mayıs.2019 </td>
                    <td> # 7 </td>
                    <td> Kasım.2020 </td>
                    <td> # 7 </td>
                    <td> Kasım.2020 </td>
                    <td align="center"> 6 Ay </td>
                    <td> Nisan.2019 </td>
                    <td> Nisan.2020 </td>
                </tr>

            </tbody>
        </table>*@


@*<td>
        <a href="javascript:;" class="btn btn-outline btn-circle btn-sm purple">
            <i class="fa fa-edit"></i> Düzenle
        </a>
    </td>*@
